<div class="max-w-xl mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-2 text-center">コーヒー診断</h2>
  <p class="mb-6 text-center">あなたの好みを選んでください。</p>

  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-8">
    <div data-diagnosis-target="bar" class="bg-blue-500 h-2.5 rounded-full transition-all duration-300" style="width: 25%"></div>
  </div>

  <%= form_with url: diagnoses_result_path,
              method: :post,
              local: true,
              html: {
                "data-controller": "diagnosis",
                "data-diagnosis-current-value": 0,
                "data-diagnosis-total-value": QuestionBank::QUESTIONS.size,
                "data-turbo": "false"
              } do |f| %>
    <% QuestionBank::QUESTIONS.each_with_index do |q, index| %>
      <div data-diagnosis-target="card"
          class="<%= index.zero? ? '' : 'hidden' %> bg-white rounded-lg shadow-md mb-6">

        <div class="rounded-t-lg bg-[#6F4E37] p-2">
          <h3 class="text-lg font-semibold m-4 text-white"><%= q[:title] %></h3>
        </div>

        <div class="p-6 space-y-3">
          <% q[:options].each do |opt| %>
            <label
              class="flex w-full mx-auto cursor-pointer border-2 rounded-md border-stone-300 p-3 hover:bg-[#F5EFE6] hover:border-stone-400 transition duration-300 ease-in-out"
              data-action="click->diagnosis#next">

              <%= f.radio_button q[:param], opt[:value], class: "hidden" %>
              <%= opt[:label] %>
            </label>
          <% end %>
        </div>
        
      <!-- 結果送信用ボタン -->
      <!-- TODO: jsで制御する -->
      <div class="text-center pb-6 mt-4">
        <%= f.submit "診断結果を見る", class: "px-6 py-3 bg-[#C67C4E] text-white rounded-md hover:bg-[#b06b40] transition" %>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
